
<h1>File Upload</h1>

                         
<p><label for="upload_file">Select File</label> : 
<%= file_field 'upload', 'datafile' %></p>
<%= link_to "Upload", controller:  "upload", action: "uploadFile" %>
