
<div class="inner">

<header><h1> Admission criteria</h1>
</header><p>All schools have admission criteria to decide which children get places. </p>

  <p>Admission criteria are different for each school. For example, schools may give priority to children:</p>

  <ul>
    <li>who have a brother or sister at the school already</li>
    <li>who live close to the school</li>
    <li>from a particular religion (for faith schools)</li>
    <li>who do well in an entrance exam (for selective schools, eg grammar schools or stage schools)</li>
    <li>who went to a particular primary school (a ‘feeder school’)</li>
    <li>in care or being looked after (all schools must have this as a top priority)</li>
  </ul>
  <p>Your <a href="">local council</a> can give you a booklet about schools’ criteria and how to apply. </p>

  <div class="application-notice info-notice">
    <p>Contact the council if you’re applying for a school place after the start of the school year (eg changing schools).</p>
  </div>

  <h2>Complain about unfair criteria</h2>

  <p>Contact the <a rel="external" href="">Schools Adjudicator</a> if you think a school has unlawful admission criteria.</p>

  <p>You must do this by 30 June, before places are allocated.</p>

  <a href="/adminforms/new"><button type="button" class="btn btn-primary btn-lg">Apply online</button></a>