

  <div class="row">
    <div class="col-sm-8">
       <div class="panel panel-default">
         <div class="panel-heading">School works is all about creating below things online</div>
            <div class="panel-body">
              <ul>
             <li>Teachers profile</li>
             <li>Students Profile</li>
             <li>Admission forms</li>
             <li>Notices</li>
             <li>Upcoming events</li>
             <li>Report card</li>
             <li>Exam results</li>
             <li>Mailing assignment and Reports</li>
             </ul>
           </div>
         
        </div>
      
       <div class="jumbotron" >
          <h1>Admissions 2015</h1>
          <p>Please visit the page for more details</p>
          <p><a class="btn btn-primary btn-lg" href="/home/admission" role="button">Enter</a></p>
       </div>
    </div>  
    <div class="col-sm-offset-8">
        <div class="panel panel-default" >
          <div class="panel-heading" >Notice Board</div>
            <div class="panel-body">
            <marquee behavior="scroll" direction="up" scrollamount="1" onmouseover="this.stop()" onmouseout="this.start();">
            <% @notice.each do |notice| %>
                <a href="/notices/<%= notice.id %>"> <%= notice.titlt %></a></br>
            <% end %>
            </marquee>
           </div>
          </div>
        
       
        
          <div class="panel panel-default" >
             <div class="panel-heading">
              <h3 class="panel-title">Upcoming Events</h3>
              </div>
               <div class="panel-body">
                <marquee behavior="scroll" direction="up" scrollamount="1" onmouseover="this.stop()" onmouseout="this.start();">
                  <% @events.each do |event| %>
                      <a href="/events/<%= event.id %>"> <%= event.title %></a></br>
                  <% end %>
                </marquee>   
               </div>
          </div>
        

   </div>

</div>
