<html>
<head>
	<script type="text/javascript" src="jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="funcoes.js"></script>
	<link rel="stylesheet" type="text/css" href="estilo.css"/>
</head>
<body>
		<button id="btnAdicionar">Novo</button>
		<table id="tblCadastro">			
			<thead>
				<tr>
					<th>Nome</th>
					<th>Telefone</th>
					<th>Email</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Joel</td>
					<td>8888-8888</td>
					<td>joel@email.com</td>
					<td><img src="images/delete.png" class="btnExcluir"/><img src="images/pencil.png"/ class="btnEditar"></td>
				</tr>
			</tbody>
		</table>
</body>
</html>