<body class="page page-id-1309 page-template-default">
<div id="wrapper">

  <div id="main" style="overflow:hidden !important;">
    <div class="avada-row">		<div id="content" style="float:left;">
      <div id="post-1309" class="post-1309 page type-page status-publish has-post-thumbnail hentry">
        <div class="image">
          <a href="#">
            <img src="/extra/images/school-software-1xkxwxr.gif" class="attachment-blog-large wp-post-image" alt="School_Bus">					<div class="image-extras">
            <div class="image-extras-content">
              <img src="" alt="Transportation">
              <h3>Transportation</h3>
            </div>
          </div>
          </a>
        </div>
        <div  class="col-sm-2-4">
          <h2 style="text-align: left;"></h2>
          <h2 style="text-align: left;"></h2>
          <h2 style="text-align: left;"><strong><span style="color: #000000; font-family: Calibri; font-size: medium;">specific School Offers a variety of means of transportation for the students which include:</span></strong></h2>
          <ul style="text-align: left;">
            <li>Private Door to Door Transportation on a daily basis from Brooklyn, Queens and Staten Island.</li>
            <li>OPT – Office of Pupil Transportation Accommodations provided by the Division of Board of Education Bureau of Non-Public Schools.
              <ul>
                <li>The service includes 4 Full Size Yellow Buses that provide transportation to our students within a certain range in Brooklyn.&nbsp;&nbsp;The bus stops are granted by the OPT.&nbsp;&nbsp;Please note the attached list of routes, stops and times for this 2013/2014 school year.&nbsp;&nbsp;The routes are determined by OPT and are subject to change depending on demand.</li>
                <li>Metro Cards for students in grades K-12 – either full fare of half fare Metro Cards are provided depending on the distance from the student’s home to school.</li>
              </ul>
            </li>
          </ul>
          <p style="text-align: center;"><a class="button small darkgreen" href="#" target="new tab">Yellow Bus Stops</a>
          </p><p style="text-align: left;">
        </p><p style="text-align: left;">
        </p></div>
      </div>
    </div>
      <div id="sidebar" style="float:right;"></div>
    </div>
  </div>



<!-- Performance optimized by W3 Total Cache. Learn more: http://www.w3-edge.com/wordpress-plugins/

 Served from: amityschool.org @ 2015-04-08 12:11:08 by W3 Total Cache --></body>

